*{ 
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #adadad;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container, .list-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.302);
}

button {
    margin: 10px;
    padding: 10px 18px;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: darkblue;
}

.item {
    cursor: pointer;
}

@keyframes confetti-fall {
    0%{
        transform: translateY(-100vw) rotate(0);
    }
    100%{
        transform: translateY(100vh) rotate(360deg);
    }
}

.confetti{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    opacity: 0.8;
    animation: confetti-fall 3s linear infinite;
    border: none;
    border-radius: 50%;
}